
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body{
	font-family: 'Open Sans', sans-serif;
}

.container{
	margin: 0 auto;
	width: 100%;
}

.nav{
	display: flex;
	justify-content: space-between;
	height: 70px;
	align-items: center;
	background-color: #313131;
}

.logo{
	margin-left: 27px;
}

.nav-list{
	display: flex;
	flex-direction: row;
}

.head-logo{
	width: 27px;
	height: 27px;
}

.title{
	font-size: 22px;
	font-weight: bold;
	line-height: 30px;
	color: #fff;
	padding-left: 27px;
}

.nav-item a{
	font-size: 15px;
	line-height: 21px;
	text-transform: uppercase;
	color: #fff;
	margin-right: 35px;
}

.icon-item{

	padding: 27px;
	background-color: #000;
	color: #fff;
}

.nav-item a:hover{
	color: #14B9D5;
}

.hero{
	background-image: url(../image/top-bckgr.png);
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 369px;

}

.hero-title{
  font-size: 27px;
  line-height: 37px;
  font-weight: 700;
  text-transform: uppercase; 
  color: #fff;
  padding: 164px 605px 44px 658px;
}

.link-button{
	padding: 18px;
	border-radius: 5px;
	background-color: #89CA62;
	margin-left: 20px;
	color: #fff;
	font-size: 18px;
	line-height: 25px;
	font-weight: 600;
}

.link-color{
	background-color: #14B9D5;
	padding: 18px 30px;
}

.post{
	padding-top: 50px;
	background-color: #F2F2F2;
}

.post-wrap{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 900px;
	align-content: center;
}

.post-item{
	margin-bottom: 30px;
	width: 370px;
	margin-left: 30px;
	background-color: #fff;
	font-size: 18px;
	line-height: 25px;
	font-weight: bold;
}

.item-title{
	padding: 20px 28px 25px;
}

.section-title{
	text-align: center;
	font-size: 27px;
	line-height: 37px;
	font-weight: bold;
	color: #18B4CF;
	padding-bottom: 52px;
}

.client{
	margin-bottom: 49px;
	background-image: url(../image/layer.png);
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	width: 100%;
}

.client-title{
	font-size: 32px;
	line-height: 44px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	padding-top: 106px;
	color: #fff;
}

.line{
	background-color: #18B4CF;
	width: 60px;
	height: 3px;
	border: none;
	margin-top: 87px;
}

.portfolio{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
	align-items: center;
	margin: 107px 325px 0;
	padding-bottom: 191px;
}

.portfolio-img{
	width: 100%;
	display: flex;
	justify-content: center;
}

.rate{
	margin-bottom: 48px;
}

.rate-list{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.rate-item{
	width: 100%;
}

.info{
	width: 1200px;
	display: grid;
	grid-template-areas:
	"emirate emirate emirate spain"
	"egypt egypt maldives maldives"
	"tenerife tenerife britain britain"
	"ireland atletiko atletiko atletiko";
	grid-row-gap: 43px;
	margin-bottom: 77px;
}

.item1 {
  grid-area: emirate;
  display: flex;
  margin-right: 35px;
}

.item2 {
  grid-area: spain;
  display: flex;
  flex-direction: column;
}

.item3 {
  grid-area: egypt;
  display: flex;
  flex-direction: column;
  margin-right: 60px;
	width: 570px;
}

.item4 {
  grid-area: maldives;
  display: flex;
  flex-direction: column;
  width: 570px;
}

.item5 {
  grid-area: tenerife;
  display: flex;
  flex-direction: column;
  margin-right: 60px;
	width: 570px;
}

.item6 {
  grid-area: britain;
   display: flex;
  flex-direction: column;
	width: 570px;
}

.item7 {
  grid-area: ireland;
  display: flex;
 	flex-direction: column;
  margin-right: 35px;
}

.item8 {
  grid-area: atletiko;
  display: flex;
}

.text{
	color: #5B6469;
	font-size: 14px;
	line-height: 21px;
	padding-top: 14px;
}

.item-img{
	height: 259px;
}

.info-descp{
	text-align: right;
	padding-top: 41px;
	padding-right: 24px;
}

.info div{
	background-color: #F9F7F7;
}

.info-title,
.info-subtitle{
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
	color: #353A3D
}

.info-subtitle{
	text-align: center;
	padding-top: 14px;
}

.content-descp{
	text-align: right;
	padding-top: 12px;
	padding-right: 24px;
}


.grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	width: 1200px;
}

.grid-item{
	padding: 20px;
	background-color: yellow;
	color: black;
	font-size: 20px;
	display: flex;
	justify-content: center;
	margin: 5px;
}

.foo{
 	background-color: #000;
}

.foo-list{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
 	width: 1200px;
}

.foo-item{
	font-size: 13px;
	padding: 30px 0;
	color: #fff;
}

.foo-logo{
	text-align: right;
	padding-top: 30px;
}































