

.line{
	width: 35px;
}

.all-content{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 15px;
}

.content{
	overflow: hidden;
	position: relative;

}

.content-hover{
	width: 100%;
	background-color: white;
	position: absolute;
	top: -600px;
	border: 1px solid black;
	transition: 0.5s;
	/* opacity: 0; */
}


.content:hover .content-hover {
	/* display: block; */
	top: 0;
	/* opacity: 1; */
}

.text::after{
    content: url("image/verx.png");
    margin-left: 72px;
}

.text::before{
    content: url("image/line.png");
    margin-right: 32px;
}


