@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
	font-family: 'Roboto', sans-serif;
}

.container{
	margin: 0 auto;
	width: 1280px;
}

.hero{
	margin-top: 63px;
	margin-bottom: 48px;
}

.hero-logo{
	font-size: 80px;
	font-weight: bold;
	line-height: 94px;
}

.hero-logo-style{
	color: #00BFFF;
}

.nav{
	text-align: center;
	font-size: 24px;
	line-height: 28px;
	margin-top: 64px;
	display: flex;
	justify-content: space-between;
}

.nav-item{
	background-color: #35444F;
	color: white;
	padding: 28px 73px;
}

.nav-item:hover{
	background-color: #222F3A;
	transition: 0.5s;
}

.content{
	display: flex;
	justify-content: space-between;
}

.side{
	text-align: left;
	width: 344px;
	margin-right: 52px;
}

.side-menu{
	border: 1px solid #000;
	display: flex;
	flex-direction: column;
}

.side-menu-item{
	font-size: 27px;
	padding: 26px 0 26px 44px;
}

.side-menu-item a{
	color: #495863;
}

.side-menu-item:hover{
	padding-left: 20px;
	transition: 0.5s;
	background-color: #DBDBDB;
}

.image{
	border: 1px solid black;
	padding: 75px 268px 73px 297px;
	margin-bottom: 37px;
}

.main-content{
	width: 885px;
}

.text{
	font-size: 18px;
	line-height: 24px;
	color: #2C2C2C;
	margin-bottom: 54px;
}

.text-indent{
	margin-bottom: 34px;
}

.foo{
	display: flex;
	justify-content: space-between;
	background-color: rgba(99, 105, 110, 0.48);
	margin-bottom: 100px; /* что бы удобнее было смотреть */
}

.foo-item{
	font-size: 28px;
	padding: 21px;
}

.copyright{
	font-size: 24px;
	margin-left: 75px;
	padding: 21px;
}

.hover:hover{
	color: #3181A6;
	border-bottom: 1px solid #3181A6;
	transition: 0.5s;
}


.image:hover img{
	transform: scale(1.3);
	transition: 1.5s;
}




















