@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}

a{
	color: #424F57;
}

body{
	margin: 0 auto;
	background: #fff;
	width: 1400px;
}


.container{
	background: url(../img/Layer.png);
	background-repeat: no-repeat;
	height: 576px;
	padding-top: 20px;
}

.nav{
	display: flex;
	justify-content: space-between;
	font-size: 36px;
	height: 113px;
	background: #fff;
}

.nav-title{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	line-height: 36px;
	display: flex;
	align-items: center;
	margin-left: 200px;
}

.title-dec{
	text-transform: uppercase;
	font-weight: 900;
	color: #14AFCA;
}

.nav-list{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 0.75px;
	line-height: 20px;
	display: flex;
	align-items: center;
	margin-right: 132px;
}

div.nav-list a:hover{
	color: #14AFCA;
}

div.nav-list a{
	margin: 0 40px ;
}

.banner{
 	font-family: 'Open Sans', sans-serif;
 	font-size: 52px;
 	color: #fff;
 	text-align: center;
 	margin-top: 150px;
 }

.content{
	font-size: 16px;
	height: 365px;
}

h1{
	font-size: 60px;
	line-height: 40px;
	color: #14AFCA;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

.text{
	text-align: center;
	margin-top: 122px;
}

.sub-title{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin-top: 20px;
	letter-spacing: 0.75px;
	text-align: center;
	color: #424F57;
}

.text-info{
	text-align: center;
	margin: 30px 200px;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}


.companies{
	padding-bottom: 50px;
	background: url(../img/pic.png);
	background-repeat: no-repeat;
	height: 718px;
}

.move{
	padding-top: 150px;
}

.text-color{
	color: #fff;
}

.img-table{
	padding-left: 100px;
}

.meet{
	margin-top: 131px;
}

.table-face{
	width: 279px;
	height: 329px;
}

.testu{
	width: 50px;
}































































