@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1&display=swap');
body{
	font-family: 'M PLUS 1', sans-serif;
}

.wrap{
	background-image: url(../image/sw.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	height: 100vh;
	perspective: 350px;
}

.container{
	width: 100%;
	margin: 0 auto;
	text-align: left;
}

.splash{
	color: gold;
	font-size: 60px;
	font-weight: bold;
	width: 1300px;
	letter-spacing: 2px;
	transform: scale3d(1, 1, 0.5);
	transform-origin: 50% 100%;
	animation-name: scroll;
	animation-duration: 40s;
	position: relative;
}

h2{
	font-size: 55px;
	text-transform: uppercase;
	margin-bottom: 50px;
	padding-left: 300px;
}

h1{
	text-transform: uppercase;
	margin-bottom: 50px;
	padding-left: 50px;
}

p{
	margin-bottom: 100px;
}

@keyframes scroll{
	0%{
		transform: rotateX(40deg)  translate3d(0, 65rem, 0);
		opacity: 1;
	}

	90%{
		opacity: 1;
	}

	100%{
		transform: rotateX(40deg) translate3d(0, -250rem, 0);
		opacity: 0;
	}
}
























