*{
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

.booking {
	width: 525px;
	margin: 150px auto;
}

.booking-title {
	font-size: 33px;
	line-height: 45px;
	text-transform: uppercase;
	color: #000000;
	text-align: center;
	position: relative;
}

.booking-title::before {
	content: '';
	position: absolute;
	left: 50%;
	bottom: -10px;
	background: #e8c300;
	border-radius: 4px;
	width: 57px;
	height: 5px;
	transform: translateX(-50%);
}

.booking-form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 9px;
	margin-top: 30px;
}

.booking-form_field {
	width: 100%;
	padding: 25px 15px;
	background: #e5e5e5;
	border-radius: 4px;
}

.booking-form_field::placeholder{
	text-transform: capitalize;
	font-size: 18px;
	letter-spacing: 1px;
}

.booking-form_field:focus{
	background-color: #fff;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.booking-form_submit{
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	border: none;
	background: #E8C300;
	border-radius: 4px;
	padding-block: 20px;
	grid-column: 1/-1;
}






















