@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
	margin: 0;
	padding: 0;
}



body{
	margin: 0 auto;
	width: 1280px;
	font-family: 'Montserrat', sans-serif;
}

.container{
	margin: 25.5px 330px;
}

.nav{
	display: flex;
	justify-content: space-around; 
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
}

div.nav a{
	text-decoration: none;
	color: #FF0000;
}

.image1{
	width: 1280px;
	height: 789px;
}

.sub-title{
	text-transform: uppercase;
	text-align: center;
	margin: 49px 253px 38px 253px;
}

.content{
	font-size: 16px;
	letter-spacing: 2.4px;
	text-align: center;
	color: #373737;
	margin: 0 67.5px 28px;
}

.button{
	text-decoration: none;
	color: white;
	border: 1px solid #FF0000;
	border-radius: 4px;
	background:#FF0000;
	text-transform: uppercase;
	font-size: 12px;
	padding: 18px 43.5px 17px 42.5px;
	font-weight: bold;
	letter-spacing: 1.8px;
}

.button-position{
	text-align: center;
	margin-top: 66px;
}

.foot-text{
	font-size: 16px;
	letter-spacing: 2.4px;
	font-weight: bold;
	text-align: right;
	margin: 82px 105px 29px 700px;
}
















