@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

body{
	font-family: 'Arimo', sans-serif;
	text-align: center;
}

.container{
	margin: 0 auto;
	width: 1200px;
}

.border-line{
	border: 20px solid #3A4965;
}

td{
	border: 1px solid #ccc;
	width: 279px;
	height: 50px;
}

.table-title{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	color: #484848;
	padding: 51px 0 48px;
	width: 313px;
}

.table-subtitle{
	font-size: 30px;
}

.td-standard{
	font-size: 24px;
	text-transform: uppercase;
	line-height: 28px;
	color: white;
	background-color: #89C331;
}

.td-ultimate{
	font-size: 30px;
	text-transform: uppercase;
	line-height: 28px;
	color: white;
	background-color: #F04A56;
}

.td-premium{
	font-size: 24px;
	text-transform: uppercase;
	line-height: 28px;
	color: white;
	background-color: #20807C;
}

.price-wrapper{
	color: #484848;
	height: 89px;
}

.price{
	font-size: 60px;
	font-weight: bold;
	padding-top: 26px;}

.cents{
	font-size: 24px;
	font-weight: bold;
}

.recurrence{
	font-size: 18px;
	line-height: 28px;
	font-weight: normal;
	text-transform: uppercase;
	position: relative;
	top: 20px;
	right: 40px;
}

.td-item{
	font-size: 16px;
	color: #484848;
	text-transform: uppercase;
	padding-top: 30px;
}

.item-button{
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	border: 1px solid transparent;
	background-color: #89C331;
	border-radius: 5px;
	padding: 20px 40px;
}

.background-row1{
	background-color: #F2F2F2;
}

.background-row2{
	background-color: #E3E3E3;
}

.nav-position{
	position: relative;
	bottom: 20px;
}

.foo{
	position: relative;
	top: 42px;
}

.dimension{
	height: 109px;
}

.background-color{
	background-color: #DDDDDD;
}

.button-color-black{
	background-color: #484848;
}

.button-color-red{
	background-color: #F04A56;
}

.button-color-blue{
	background-color: #20807C;
}





