body{
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 15px;
	font-family: 'Vollkorn', serif;
	font-weight: normal; 
	letter-spacing: 0.03em;
	line-height: 1.55em; 
}

*{
	box-sizing: border-box;
}

p{
	letter-spacing: 0.03em;
	line-height: 1.55em;
	margin: 0; 
}

h1, h2, h3, h4, h5, h6{
	font-weight: 400;
	margin: 0;
	padding: 0;
	line-height: 1.4em;  
}

.container{
	width: 1110px;
	/*border: 1px solid black;*/
	margin: 0 auto;	
}


.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 72px;
}

.header{
	padding-top: 72px;
}

a{
	color: black;
	text-decoration: none;
}

.offer{
	margin-bottom: 98px;
	margin-top: 52px;
}

.place{
	font-size: 18px;
	margin-bottom: 21px;
}

.offer-title{
	letter-spacing: 0.07em;
	font-style: 45px;
	text-transform: uppercase;
}

.desc{
	font-size: 18px;
	margin-bottom: 21px;
	margin-top: 21px; 
}
.button-style{
	color: #fff ;
	border: 1px solid transparent;
	background: #6A85E3;
	font-size: 18px;
	padding: 18px 30px;
	font-weight: 700;
	display: block;
	width: 199px;
	text-align: center; 
}

.button-style:hover{
	background: #546fcf;
}

.button-style:active{
	background: #415bb8;
}

.intro{
	background: #EAEAEA;
	padding: 30px;
	width: 441px;
}

.intro-title{
	font-weight: 700;
	margin-bottom: 17px;
}


 .bali-img{

 }


.header-content{
	display: flex;
	justify-content: space-between;
}





































