
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
	font-family: 'Poppins', sans-serif;

}

:root{
	--main-gradient: linear-gradient(90deg, #EC6F66 0%, #F3A183 100%);;
}

.container{
	margin: 150px auto;
	width: 100%;
}

.intro{
	display: flex;
	justify-content: space-between;
	background-color: #fff;
}

.intro-item{
	width: 361px;
}

.num{
	font-size: 36px;
	font-weight: bold;
	padding: 22px;
	background: var(--main-gradient);
	border-radius: 8px;
	color: #fff;
	display: inline-block;
	height: 72px;
	width: 72px;
	text-align: center;	
	margin-bottom: 28px;
}

.title{
	font-size: 18px;
	line-height: 23px;
	color: #031D5B;
	margin-bottom: 50px;
}

.line{
	background: var(--main-gradient);
	height: 4px;
	width: 72px;
	border: none;
	margin-bottom: 18px;
	position: relative;
	right: 145px;
}

.text{
	font-family: sans-serif;
}