@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
	font-family: 'Roboto', sans-serif;
}


a{
	color: #fff;
}

.container{
	margin: 0 auto;
	width: 1023px;
}

.wrap{
	background-image: url(../image/back.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.nav{
	display: flex;
	justify-content: space-between;
	color: #fff;
	margin-bottom: 17px;
	padding-top: 150px;
}

.hero-logo{
	display: flex;
	align-items: center;
}

.hero-menu:hover img{
	content: url(../image/logo2.png);
}

.hero-menu:hover p{
	color: #F26522;
}

.test1{
	padding-top: 7px;
}

.logo{
	height: 47px;
	width: 53px;
}

.title{
	display: flex;
	flex-direction: column;
	margin-left: 8px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
}

.hero-title{
	font-size: 29px;
}

.hero-contact{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.contact-text{
	font-size: 18px;
}

.hero-contact a:last-child{
	padding-top: 19px;
}

.hero-contact a:hover{
	color: #F26522;
}


						/*main-content*/

.grid{
	display: grid;
	grid-template-columns: repeat(3, 300px);
	column-gap: 61px;
    row-gap: 37px;
    margin-bottom: 49px;
}

.content-item{
	position: relative;
	overflow: hidden;
	height: 220px;
	display: block;
}

.item-hover{
	position: absolute;
	bottom: -400px;
	left: 0;
	background-color: #F26522;
	transition: 0.5s;
	display: flex;
	font-size: 10px;
	width: 300px;
}

.hover-wrap{
	color:#fff;
	font-size: 10px;
	padding-left: 16px;
	padding-bottom: 12px;
}

.item-hover-text{
	padding-top: 7px;
	padding-bottom: 8px;
}

.item-hover-subtext{
	font-size: 20px;
}

.hover-details{
	font-size: 14px;
	color:#fff;
	margin-left: 128px;
	margin-top: 29px;
}

.tour-title{
	font-size: 18px;
	display: block;
	text-align: center;
	padding-top: 20px;
}

.content:hover .item-hover{
	bottom: 0;
}

.content:hover .tour-title{
	color: #F26522;
}

.hover-details::after{
	content: url(../image/arrow.svg);
	padding-left: 16px;
	position: relative;
	top: 2px;
}


						/*footer*/

.foo{
	text-align: center;
	font-size: 12px;
	color: #fff;
	padding-bottom: 15px;
}









