* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.hero {
	/* bgi */
	background-image: url(../images/hero-background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 530px;
	/* pb133 */
	padding-bottom: 133px;
	color: white;
}

.hero-title {
	font-size: 48px;
	line-height: 59px;
	text-transform: uppercase;
	/* mb16 */
	margin-bottom: 16px;
}

.hero-subtitle {
	font-size: 18px;
	line-height: 22px;
	/* mb22 */
	margin-bottom: 22px;
	text-transform: capitalize;
}

.hero-slogan {
	padding: 38px 31px;
	font-size: 54px;
	line-height: 66px;
	/* ttu */
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid white;
	width: max-content;
}
.nav {
	text-align: center;
	margin-top: 120px;
	margin-bottom: 120px;
}

.section-title {
	font-weight: bold;
	font-size: 22px;
	text-transform: uppercase;
	color: #333;
	margin-bottom: 28px;
}
.section-subtitle {
	font-size: 17px;
	line-height: 24px;
	color: #4d4943;
	/* mb48 */
	margin-bottom: 48px;
}
.section-line {
	width: 60px;
	height: 3px;
	background: #f48e0b;
	margin: 0 auto 57px;
	border: none;
}
.menu {
	text-align: left;
	border-bottom: 2px solid #f1b128;
	padding-bottom: 22px;
	display: flex;
	justify-content: space-between;
}

.menu-list {
	/* display: inline-block; */
	display: flex;
	column-gap: 69px;
}

.menu-logo-title {
	/* display: inline-block; */
	font-size: 28px;
	font-weight: bold;
	text-transform: uppercase;
	color: #f1b128;
}

.menu-list-item {
	/* display: inline-block; */
	/* margin-left: 69px; */
}

.menu-list-link {
	font-size: 18px;
	line-height: 22px;
	color: #3d3d3d;
	transition: 0.5s;
}

.menu-list-link:hover {
	color: #f1b128;
}

.aboutUs {
	text-align: center;
	margin-bottom: 120px;
}

.aboutUs-wrapper {
	display: flex;
	justify-content: space-between;
}

.aboutUs-portfolio {
	width: calc((100% - 30px) / 2);
	display: flex;
	flex-wrap: wrap;
	row-gap: 22px;
	column-gap: 30px;
}

.aboutUs-portfolio-img img {
	width: 100%;
}

.aboutUs-info {
	/* Work without margin elements */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	text-align: left;
	width: calc(50% - 15px);
}

.aboutUs-info-title {
	font-weight: bold;
	font-size: 18px;
	/* margin-bottom: 22px; */
	text-transform: uppercase;
	color: #333333;
}

.aboutUs-info-title span {
	color: #f48e0b;
}

.aboutUs-info-text {
	font-size: 14px;
	line-height: 22px;
	color: #505050;
	/* margin-bottom: 36px; */
}

.aboutUs-info-link {
	display: inline-block;
	background: #f48e0b;
	padding: 19px 27px;
	font-weight: bold;
	font-size: 14px;
	color: #fff;
}

.team {
	margin-bottom: 120px;
}

.center {
	text-align: center;
}

.team-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 2px;
}

.team-wrapper-img img {
	width: 100%;
}

.goods {
	margin-bottom: 120px;
	display: flex;
	flex-direction: column;
	height: 900px;
	flex-wrap: wrap;
}

.goods-item {
	width: 370px;
	margin-bottom: 30px;
}

.item-img {
	margin-bottom: 7px;
}

.item-head {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.item-head-img {
	background: #333;
	padding: 11px;
	margin-right: 8px;
}

.item-head-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #333333;
}

.item-text {
	font-size: 14px;
	line-height: 17px;
	color: #505050;
	border-bottom: 1px solid #c1c1c1;
	padding-bottom: 14px;
	margin-bottom: 11px;
}

.item-info {
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid #333;
	padding-bottom: 5px;
}

.item-info-date,
.item-info-link {
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	color: #828282;
}

.works {
	margin-top: 120px;
	margin-bottom: 120px;
}

.works-list {
	display: flex;
	justify-content: center;
	margin-bottom: 44px;
}

.list-item {
	padding: 14px 41px;
	border: 1px solid black;
	margin-right: 14px;
	font-weight: 300;
	font-size: 14px;
	transition: 0.5s ease-in-out;
}

.list-item:hover {
	background: #333333;
	color: #f1ad1d;
}

.works-content {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 15px;
}

.content-item {
	overflow: hidden;
	position: relative;
}

.content-hover {
	width: 100%;
	background-color: white;
	position: absolute;
	top: -400px;
	left: 0;
	border: 1px solid black;
	transition: 0.5s;
	/* opacity: 0; */
}

.content-item:hover .content-hover {
	/* display: block; */
	top: 0;
	/* opacity: 1; */
}
















