@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
body{
	font-family: 'Ubuntu', sans-serif;
}


.wrap{
	background-image: url(../image/bgc.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.container{
	margin: 0 auto;
	width: 100%;
}

.nav-bar{
	margin-bottom: 54px;
}

.menu{
	color: #fff;
	display: flex;
	justify-content: space-between;
	background-color: rgba(0, 0, 0, 0.4);
	height: 58px;
	padding: 0 79px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-item{
	display: flex;
	margin-top: 18px;
}

.title{
	font-size: 22px;
	text-transform: uppercase;
	font-weight: bold;
}

.title:hover{
	color: #3CB878;
	transition-duration: 0.5s;
}

.nav-text{
	font-size: 14px;
	line-height: 23px;
	border-left: 1px solid rgba(255, 255, 255, 0.9);
	padding-left: 27px;
	opacity: 0.9;
}

.nav-text a{
	color: #fff;
}

.nav-text a:hover{
	color: #3CB878;
	transition: 0.5s;
}

.nav-item{
	padding-left: 25px;
}

svg path:hover{
	fill: #3CB878;
	transition: 0.5s;
	cursor: pointer;
}


								/*main*/


.form{
	background-color: #fff;
	box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
	width: 444px;
	height: 626px;
}

.square{
	height: 18px;
	width: 18px;
	background-color: #3CB878;
	position: relative;
	top: 29px;
}

.form-content{
	padding-left: 61px;
	padding-right: 61px;
}

.form-head{
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	margin-bottom: 16px;
	color: #434343;
	padding-top: 11px;
}

.form-login{
	font-size: 14px;
	line-height: 20px;
	color: #3CB878;
}

.form-login:hover{
	color: #01813F;
	text-decoration: underline;
	transition: 0.6s;
}

.form-link{
	display: flex;
	justify-content: space-between;
	margin-bottom: 31px;
}

.button-facebook{
	background-color: #305DB8;
	line-height: 48px;
	position: relative;
}

.button-facebook:hover{
	background-color: #022263;
	transition: 0.6s ease-in-out;
}

.button-google{
	background-color: #DF4A32;
	line-height: 48px;
	position: relative;
}

.button-google:hover{
	background-color: #AB1F09;
	transition: 0.6s ease-in-out;
}

.form-link a{
	width: 158px;
	height: 48px;
	border-radius: 4px;
	color: #fff;
}

.style-btn-fb{
	border-right: 1px solid rgba(10, 22, 47, 0.2);
	font-size: 24px;
	padding-left: 16px;
	padding-right: 19px;
	margin-right: 18px;
	margin-top: 12px;
}

.link-title{
	position: absolute;
}

.style-btn-gg{
	border-right: 1px solid rgba(10, 22, 47, 0.2);
	font-size: 24px;
	padding-left: 16px;
	padding-right: 19px;
	margin-right: 18px;
	margin-top: 12px;
}

.or{
	display: flex;
	justify-content: space-between;
	margin-bottom: 12px;
}

.or-style{
	padding: 0 5px;
	font-size: 14px;
	color: #848484;
}

.line{
	height: 1px;
	width: 152px;
	background-color: #F2F2F2;
	border: none;
}


input::placeholder{
	font-size: 14px;
	color: #BEBEBE;
	width: 324px;
}

input[type="text"]{
  	padding-left: 20px;
  	height: 46px;
	width: 300px;
	border-radius: 4px;
	border: 1px solid #F2F2F2;
	margin-bottom: 16px;
}

input[type="email"]{
  	padding-left: 20px;
  	height: 46px;
	width: 300px;
	border-radius: 4px;
	border: 1px solid #F2F2F2;
	margin-bottom: 16px;
}

input[type="password"]{
  	padding-left: 20px;
  	height: 46px;
	width: 300px;
	border-radius: 4px;
	border: 1px solid #F2F2F2;
	margin-bottom: 16px;
}

input[type="text"]:focus{
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
	outline: 0;
}

input[type="email"]:focus{
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
	outline: 0;
}

input[type="password"]:focus{
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
	outline: 0;
}

.terms{
	font-size: 14px;
	color: #434343;
}

.conditions{
	color: rgba(60, 184, 120, 0.8);
}

.conditions:hover{
	color: #01813F;
	text-decoration: underline;
	transition: 0.6s ease-in-out;
}

input[type="checkbox"]:checked{
	position: absolute;
	left: -9999px;
}

input[type="checkbox"]:checked + label{
	display: inline-block;
    position: relative;
    padding-left: 24px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before{
	content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before{
    border-radius: 2px;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after{
	content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after{
    left: 5px;
    top: 6px;
    width: 10px;
    height: 5px;
    border-left: 2px solid #3CB878;
    border-bottom: 2px solid #3CB878;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after{
    opacity: 0;
}

input[type="checkbox"]:checked + label:after{
    opacity: 1;
}


.button{
	display: block;
	background-color: rgba(60, 184, 120, 0.8);
	width: 324px;
	height: 46px;
	text-align: center;
	border-radius: 4px;
	margin-top: 20px;
	font-size: 16px;
	line-height: 46px;
	color: #fff;
}

.button:hover{
	background-color: #01813F;
	transition: 0.6s;
}














